* {
    padding: 0px;
    margin: 0px;
}

body {
    background: rgb(240, 247, 255);
    background: radial-gradient(circle, rgba(240, 247, 255, 1) 0%, rgba(231, 242, 255, 1) 100%);
    text-align: justify;
}

/* Distribucion del grid */

.grid {
    width: 60%;
    margin: auto;
    margin-top: 10px;
    display: grid;
    grid-template-areas: "nav nav nav""new sec sec""foot foot foot";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

/* Navegador i distribucion de los items */

.nav {
    grid-area: nav;
    background: rgb(108, 181, 190);
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-content: stretch;
    padding: 2px 2px 2px 2px;
}

/* Navegador items */

.nav a {
    width: 15%;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: ivory;
    background-color: rgb(108, 181, 190);
    padding: 4px;
    border-radius: 5px;
}

.nav a:active {
    background-color: rgb(17, 94, 104);

}

.nav a:hover {
    background-color: rgb(193, 230, 235);
    color: midnightblue;
    -webkit-transition: background-color 500ms ease-out 1s;
    -moz-transition: background-color 500ms ease-out 1s;
    -o-transition: background-color 500ms ease-out 1s;
    transition: background-color 500ms ease-out 1s;

}

#btnNav {
    display: none;
    text-align: center;
}

/* Seccion principal i distribucion de items */

.pri {
    grid-area: sec;
    background-color: red;
    padding: 12px;
}

/* Items section principal */

/* News distribucion */

.new {
    grid-area: new;
    background-color: seagreen;
    padding: 12px;
}

/* News items */

/* Footer */

.foot {
    grid-area: foot;
    background-color: orange;
}

/* Media query */

@media (max-width: 700px) {
    .grid {
        grid-template-areas: "nav""new""sec""foot";
    }

    /* Ocultamos botones del nav */

    #btnIndex {
        display: none;
    }

    #btnNoticias {
        display: none;
    }

    #btnForo {
        display: none;
    }

    #btnContact {
        display: none;
    }

    /* Mostramos boton de navegador */

    #btnNav {
        display: flex;
        width: 30px;
        border-radius: 100%;
        background-color:  rgb(231, 224, 210);
        padding: 5px;
    }

    #btnNav p {
        text-align: center;
        margin: auto;
    }

    /* Alineo items del nav a la derecha */

    .nav {
        display: flex;
        flex-direction: wrap;
        justify-content: flex-end;
    }

}